.header {
  text-align: center;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .header .texto-principal {
    padding: 10px 0;
    background-color: black; }
    .header .texto-principal p {
      margin: 0; }
  .header .texto-titulo h1 {
    font-family: Bahnschrift;
    font-size: 90px;
    font-weight: normal;
    font-stretch: condensed;
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    color: black;
    padding-top: 50px; }

.contendor-navegacion {
  padding-bottom: 250px;
  padding-top: 50px; }
  .contendor-navegacion .navegacion {
    width: 70%;
    text-align: center;
    position: relative;
    padding: 10px 0;
    margin: 0 auto; }
    .contendor-navegacion .navegacion .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0px; }
      .contendor-navegacion .navegacion .menu__lista {
        position: relative;
        width: auto;
        border-style: hidden;
        margin-right: 60px; }
        .contendor-navegacion .navegacion .menu__lista:hover {
          color: #554f4f;
          background-color: none;
          transition: all .2s;
          border-bottom: solid 2px black;
          background-image: linear-gradient(to bottom, whitesmoke, #ededed); }
        .contendor-navegacion .navegacion .menu__lista a {
          display: inline-block;
          width: 120px;
          height: 25px;
          color: black;
          text-decoration: none;
          font-size: 18px;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
          letter-spacing: 1px; }
        .contendor-navegacion .navegacion .menu__lista .submenu {
          list-style: none;
          padding: 0;
          position: absolute;
          background-color: none;
          font-family: Arial, Helvetica, sans-serif;
          display: none;
          visibility: visible;
          opacity: 1;
          transition: .5s; }
          .contendor-navegacion .navegacion .menu__lista .submenu li {
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px; }
            .contendor-navegacion .navegacion .menu__lista .submenu li a {
              display: block;
              margin-right: 0px;
              margin-left: 0px;
              font-size: 14px;
              color: black;
              font-family: Arial, Helvetica, sans-serif;
              transition: 3s;
              text-decoration: none;
              text-align: justify; }
            .contendor-navegacion .navegacion .menu__lista .submenu li:hover {
              border-bottom: solid 1px black; }
        .contendor-navegacion .navegacion .menu__lista:hover .submenu {
          display: block;
          transition: all 2s; }
    .contendor-navegacion .navegacion .IG {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.8; }
      .contendor-navegacion .navegacion .IG:hover {
        opacity: 1; }

.container1 {
  background-image: radial-gradient(#373535, black);
  height: 100%; }
  .container1 .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
  .container1 .contenedor {
    max-width: 1100px;
    width: 100%;
    margin: 0px auto; }
    .container1 .contenedor a {
      text-decoration: none;
      color: white; }
    .container1 .contenedor .carousel-item.active {
      display: flex;
      align-items: center;
      justify-content: center; }
      .container1 .contenedor .carousel-item.active img {
        max-width: 70%;
        height: 700px; }
    .container1 .contenedor .contenido-boton {
      width: 100%; }
      .container1 .contenedor .contenido-boton .boton-habitos {
        display: block;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        color: whitesmoke;
        padding: 16px 100px;
        cursor: pointer;
        font-family: Bahnschrift;
        background-color: #204b25;
        opacity: .8;
        margin: 0 auto; }
      .container1 .contenedor .contenido-boton .boton-habitos:hover {
        background-color: #094e11;
        box-shadow: 0 12px 16px 0 black,0 17px 50px black;
        color: whitesmoke;
        transition-duration: .3s;
        opacity: 1; }

.piepagina {
  margin: 0px;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  background-image: radial-gradient(#373535, black);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "somosolea frasefinal contacto"; }
  .piepagina .somosolea {
    grid-area: somosolea;
    padding: 20px;
    margin: 0px;
    text-align: justify;
    font-size: 14px;
    font-family: roboto, sans-serif; }
  .piepagina .frasefinal {
    grid-area: frasefinal;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    font-family: roboto, sans-serif; }
  .piepagina .contacto {
    grid-area: contacto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
    font-family: roboto, sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit; }

.piepagina {
  margin: 0px;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  background-image: radial-gradient(#373535, black);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "somosolea frasefinal contacto"; }

.somosolea {
  grid-area: somosolea;
  padding: 20px;
  margin: 0px;
  text-align: justify;
  font-size: 14px;
  font-family: roboto, sans-serif; }

.frasefinal {
  grid-area: frasefinal;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 34px;
  font-family: roboto, sans-serif; }

.contacto {
  grid-area: contacto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-family: roboto, sans-serif; }

@media only screen and (max-widht: 768px) {
  .IG {
    display: none;
    margin: 0px 0px 0px 0px;
    visibility: hidden; }
  .habito-imagen {
    margin-left: 0px; }
  /* .menu > li > a{
    display: inline-block;
    width: 10px;
    height: 25px;
    color:black;
    text-decoration:none;
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    letter-spacing: 1px;
    }*/
  .boton-habitos {
    display: none; } }

/*hola*/
